@import url("https://use.typekit.net/nhi4szx.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-lightest: #f7dfda;
  --primary-color-lighter: #efbeb5;
  --primary-color-light: #e07f6b;
  --primary-color: #ce3618;
  --primary-color-dark: #ad2d14;
  --primary-color-darker: #8c2510;
  --primary-color-darkest: #4a1309;

  --secondary-color-lightest: #e1e1e2;
  --secondary-color-lighter: #c2c3c5;
  --secondary-color-light: #86888b;
  --secondary-color: #42454a;
  --secondary-color-dark: #373a3e;
  --secondary-color-darker: #2d2f32;
  --secondary-color-darkest: #18191b;

  --white: #fff;
  --black: #000;

  --success-color: #04cf7f;
  --error-color: #cf2604;
  --info-color: #04aecf;

  --padding-small: 0.5rem 1rem;
  --padding-medium: 1rem 1.5rem;
  --padding-large: 1.5rem 2rem;

  --shadow: 0 1px 2px rgb(0 0 0 / 0.2%), 0 2px 4px rgb(0 0 0 / 0.4%),
    0 4px 8px rgb(0 0 0 / 0.8%), 0 8px 16px rgb(0 0 0 / 1.6%),
    0 16px 32px rgb(0 0 0 / 3.2%), 0 32px 64px rgb(0 0 0 / 6.4%);
}

html,
body {
  height: 100vh;
  background-color: var(--secondary-color-lightest);
  font-family: brother-1816-printed, sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.container {
  width: 70ch;
  padding: var(--padding-large);
  margin: 4em auto;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

/* .form {
  padding: 1em;
} */

.form-control {
  position: relative;
  margin-top: 1em;
  padding-bottom: 1em;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  font-family: brother-1816-printed, sans-serif;
  width: 100%;
  border: 2px solid var(--secondary-color-lighter);
  border-radius: 0.25rem;
  display: block;
  padding: var(--padding-medium);
  font-size: 0.875rem;
}

.form-control input:focus {
  outline: none;
  border-color: var(--info-color);
}

/* alert */
.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.btn {
  font-family: brother-1816-printed, sans-serif;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color-dark);
  border-radius: 0.25rem;
  color: var(--white);
  margin-top: 2rem;
  width: 100%;
  padding: var(--padding-medium);
  display: block;
}
